{% extends 'base-blog.html' %}
{% load static %}
{% block title %}留言板{% endblock %}
{% block link %}
    <script src="{% static 'js/csrf.js' %}" charset="utf-8"></script>
{% endblock %}
{% block content %}
    <!--中间主体部分-->
    <main class="page-main">
        <div class="layui-row">
            <!--    页面主体部分-->
            <div class="layui-col-md-offset2 layui-col-sm12 layui-col-md8 page-main-centre">
                <div class="layui-row main-centre">
                    <!--            主体左侧部分-->
                    <div class="layui-col-md9 main-left">
                        <div class="index-new message-board">
                            <div class="message-editor">
                                <div class="message-title clearfix">
                                    <div><h1>📝 我要留言</h1></div>
                                    <div><em>{{ count }}条留言</em></div>
                                </div>
                                <hr class="layui-bg-gray">
                                <div class="layui-row message-body">
                                    <div class="layui-hide-xs layui-col-md1">
                                        <a>
                                            {% if userinfo.photo %}
                                                <img lay-src="{{ MEDIA_URL }}{{ userinfo.photo }}" class="layui-nav-img img-rotate">
                                            {% else %}
                                                <img lay-src="{{ MEDIA_URL }}{{ img.photo }}" class="layui-nav-img img-rotate">
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="layui-col-xs12 layui-col-md10">
                                        <textarea id="leave"></textarea>
                                    </div>
                                    <div class="layui-col-xs2 layui-col-md1">
                                        <button type="button" class="layui-btn layui-btn-normal">留言</button>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-tab">
                                <ul class="layui-tab-title">
                                    <li class="layui-this">全部留言</li>
                                    <li>热门留言</li>
                                    <li>我的留言</li>
                                </ul>
                                <div class="layui-tab-content">
                                    {#                                    最新留言#}
                                    <div class="layui-tab-item layui-show">
                                        {% for ol in all_message %}
                                            <ol class="list-body">
                                                {% for li in ol %}
                                                    <li class="reply-{{ li.level }} message-content"
                                                        id="all-{{ li.id }}">
                                                        <a href={{ li.web }} target="_blank">
                                                            <img lay-src="{{ MEDIA_URL }}{{ li.photo }}"
                                                                 class="layui-nav-img img-rotate">
                                                        </a>
                                                        <div class="text-box">
                                                            <div class="box-info">
                                                                {% if li.reply_name == 'None' %}
                                                                    <a href={{ li.web }} target="_blank">{{ li.username }}</a>
                                                                {% else %}
                                                                    <a href={{ li.web }} target="_blank">{{ li.username }}</a>
                                                                    <em>回复</em>
                                                                    <a href={{ li.reply_web }} target="_blank">{{ li.reply_name }}</a>
                                                                {% endif %}
                                                                <span class="timeago" datetime="{{ li.time }}"></span>
                                                            </div>
                                                            <div class="box-body">
                                                                {{ li.content | safe }}
                                                            </div>
                                                            <div class="box-action">
                                                                <a href="javascript:;" class="action-like"><i
                                                                        class="fas fa-thumbs-up"></i>赞<em>{{ li.like }}</em></a>
                                                                {% if li.username == user.username %}
                                                                    <a href="javascript:;" class="action-reply click-no"><i
                                                                        class="fas fa-comment-alt"></i>回复</a>
                                                                {% else %}
                                                                    <a href="javascript:;" class="action-reply"><i
                                                                        class="fas fa-comment-alt"></i>回复</a>
                                                                {% endif %}
                                                                {% if li.username == user.username %}
                                                                    <a href="javascript:;" class="action-delete"><i
                                                                            class="fas fa-trash-alt"></i>删除</a>
                                                                {% else %}
                                                                    <a href="javascript:;"
                                                                       class="action-delete click-no"><i
                                                                            class="fas fa-trash-alt"></i>删除</a>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ol>
                                        {% endfor %}
                                    </div>
                                    {#热门留言#}
                                    <div class="layui-tab-item">
                                        <ol class="list-body">
                                            {% for i in hot_message %}
                                                <li class="message-content" id="hot-{{ i.id }}">
                                                    <a href={{ i.user.userinfo.web }} target="_blank">
                                                        <img src="{{ MEDIA_URL }}{{ i.user.userinfo.photo }}"
                                                             class="layui-nav-img img-rotate">
                                                    </a>
                                                    <div class="text-box">
                                                        <div class="box-info">
                                                            <a href={{ i.user.userinfo.web }} target="_blank">{{ i.user.username }}</a>
                                                            <span class="timeago"
                                                                  datetime="{{ i.time|date:"Y-m-d H:i:s" }}"></span>
                                                        </div>
                                                        <div class="box-body">
                                                            {{ i.content | safe }}
                                                        </div>
                                                        <div class="box-action">
                                                            <a href="javascript:;" class="action-like"><i
                                                                    class="fas fa-thumbs-up"></i>赞<em>{{ i.like }}</em></a>
                                                            <a href="javascript:;" class="action-reply click-no"><i
                                                                    class="fas fa-comment-alt"></i>回复</a>
                                                            {% if i.user.username == user.username %}
                                                                <a href="javascript:;" class="action-delete"><i
                                                                        class="fas fa-trash-alt"></i>删除</a>
                                                            {% else %}
                                                                <a href="javascript:;"
                                                                   class="action-delete click-no"><i
                                                                        class="fas fa-trash-alt"></i>删除</a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ol>
                                    </div>
                                    {#                                        我的留言#}
                                    <div class="layui-tab-item">
                                        {% if my_message %}
                                            <ol class="list-body">
                                                {% for i in my_message %}
                                                    <li class="message-content" id="my-{{ i.id }}">
                                                        <a href={{ i.user.userinfo.web }} target="_blank">
                                                            <img src="{{ MEDIA_URL }}{{ i.user.userinfo.photo }}"
                                                                 class="layui-nav-img img-rotate">
                                                        </a>
                                                        <div class="text-box">
                                                            <div class="box-info">
                                                                <a href={{ i.user.userinfo.web }} target="_blank">{{ i.user.username }}</a>
                                                                <span class="timeago"
                                                                      datetime="{{ i.time|date:"Y-m-d H:i:s" }}"></span>
                                                            </div>
                                                            <div class="box-body">
                                                                {{ i.content |safe }}
                                                            </div>
                                                            <div class="box-action">
                                                                <a href="javascript:;" class="action-like"><i
                                                                        class="fas fa-thumbs-up"></i>赞<em>{{ i.like }}</em></a>
                                                                <a href="javascript:;" class="action-reply click-no"><i
                                                                        class="fas fa-comment-alt"></i>回复</a>
                                                                {% if i.user.username == user.username %}
                                                                    <a href="javascript:;"
                                                                       class="action-delete"><i
                                                                            class="fas fa-trash-alt"></i>删除</a>
                                                                {% else %}
                                                                    <a href="javascript:;"
                                                                       class="action-delete click-no"><i
                                                                            class="fas fa-trash-alt"></i>删除</a>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                                {% else %}
                                                <h3>🥺您还没有留言，快来留言吧！</h3>
                                            </ol>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% include 'blog/aside.html' %}
                    <!--            主体右侧部分-->
                </div>
            </div>
        </div>
        {#        回复留言弹窗#}
        <div id="reply-div">
            <textarea id="reply" style="display: none;"></textarea>
        </div>
        {#        发表留言弹窗#}
        <div id="collection-box" class="layui-hide">
            <div class="collection-box-div">
                您尚未登录，请先登录然后发表留言
            </div>
        </div>
    </main>
{% endblock %}

{% block js %}
    <script>
        // 导航栏当前标签页
        $(".nav5").addClass("layui-this");
        layui.use(['form', 'layedit'], function () {
            var form = layui.form;
            var $ = layui.jquery;
            var layedit = layui.layedit;
            var reply_textarea;
            // 富文本编辑器
            form.render(); //更新全部
            // 图片接口放到建立编辑器前面，否则无效
            layedit.set({
                uploadImage: {
                    url: '{% url "account:commentUpload" %}', //接口url
                    type: 'post', //默认post
                }
            });
            // 设置发表留言编辑器
            var index = layedit.build('leave', {
                height: 150 //设置编辑器高度
                , tool: ['face', 'image', '|', 'link', 'unlink']
            });
            // 建立发表留言编辑器
            form.verify({ // 这里就是把富文本数据同步到<textarea>中
                content: function (value) {
                    return layedit.sync(index);
                }
            });
            // 发表留言按钮事件
            $(".message-body button").click(function () {
                var $content = layedit.getContent(index)
                if ('{{ user.id }}' == 'None') {
                    layer.open({
                        type: 1,
                        title: '发布留言',
                        shadeClose: true,
                        content: $('#collection-box').html(),
                        btn: ['登录'],
                        btnAlign: 'c',
                        yes: function (index) {
                            window.location.href = "{% url 'account:loginRegister' %}?next=" + window.location.pathname
                            layer.close(index);
                        }
                    })
                    return false;
                }
                if ($content.length == 0) {
                    layer.msg('亲~请先输入内容，然后再提交哦！', {icon: 5});
                    return false;
                }
                $.ajax({
                    type: "GET",
                    url: "{% url 'blog:postMessage' %}",
                    data: {
                        content: layedit.getContent(index),
                        username: "{{ user.username }}",
                        level: 0
                    },
                    success: function (result) {
                        if (result.code == 1) {
                            // 文本域内容非空，创建节点
                            var $record = createEle($content);
                            $(".layui-tab-item").prepend($record);
                            var timeago = layui.timeago;
                            timeago.render($('.timeago'));
                            layer.msg(result.msg, {icon: 6});
                            layui.layedit.clearContent(index);
                        } else {
                            layer.alert(result.msg, {icon: 2});
                        }
                    },
                    error: function (xhr) {
                        alert(xhr.text());
                    }
                })
            })
            // 留言点赞
            $("body").delegate(".action-like", "click", function () {
                var num = $(this).find("em").text();
                var $like_click = $(this);
                var like_id = $like_click.parents(".message-content").attr("id").replace(/[^\d]/g, '')
                $.ajax({
                    type: "GET",
                    url: "{% url 'blog:likeMessage' %}",
                    data: {
                        like_id: like_id,
                    },
                    success: function (result) {
                        if (result.code == 1) {
                            $like_click.find("em").html(parseInt(num) + 1);
                            $like_click.addClass("click-no");
                            layer.msg(result.msg, {icon: 6});
                        } else {
                            layer.alert(result.msg, {icon: 2});
                        }
                    },
                    error: function (xhr) {
                        alert(xhr.text());
                    }
                })
            })
            // 留言删除
            $("body").delegate(".action-delete", "click", function () {
                var $del_click = $(this)
                var del_id = $del_click.parents(".message-content").attr("id").replace(/[^\d]/g, '')
                var del_level = $del_click.parents(".message-content").attr("class").replace(/[^\d]/g, '')
                var reply_count = $del_click.parents(".list-body").find("li").length
                layer.msg('确定要删除这条留言内容吗？', {
                    time: 10000, //10s后自动关闭
                    btnAlign: 'c',
                    btn: ['确定', '取消'],
                    yes: function (index) {
                        layer.close(index);
                        $.ajax({
                            type: "GET",
                            url: "{% url 'blog:delMessage' %}",
                            data: {
                                del_id: del_id,
                            },
                            success: function (result) {
                                if (result.code == 1) {
                                    if (del_level == 0 && reply_count == 1) {
                                        $del_click.parents(".message-content").remove();
                                    } else {
                                        $del_click.parents(".text-box").find(".box-body").html("该内容已被用户删除");
                                    }
                                    layer.msg(result.msg, {icon: 6});
                                } else {
                                    layer.alert(result.msg, {icon: 2});
                                }
                            },
                            error: function (xhr) {
                                alert(xhr.text());
                            }
                        })
                    },
                });
            })
            // 留言回复
            $("body").delegate(".action-reply", "click", function () {
                $reply_click = $(this);
                layer.open({
                    type: 1
                    , title: '回复留言'
                    , area: ['400px', '300px']
                    , offset: 'auto'
                    , content: $('#reply-div').html()
                    , btn: ['发表回复', '取消回复']
                    , btnAlign: 'c'
                    , yes: function () {
                        $content = layedit.getContent(reply_textarea);
                        if ($content.length == 0) {
                            layer.msg('亲~请先输入内容，然后再提交哦！', {icon: 5});
                            return false;
                        }
                        var reply_level = parseInt($reply_click.parents(".message-content").attr("class").replace(/[^\d]/g, '')) + 1
                        var reply_id = $reply_click.parents(".message-content").attr("id").replace(/[^\d]/g, '')
                        var root_id = $reply_click.parents(".list-body").find("li").eq(0).attr("id").replace(/[^\d]/g, '')
                        $.ajax({
                            type: "GET",
                            url: "{% url 'blog:postMessage' %}",
                            data: {
                                content: layedit.getContent(reply_textarea),
                                username: "{{ user.username }}",
                                level: reply_level,
                                reply_id: reply_id,
                                root_id: root_id
                            },
                            success: function (result) {
                                if (result.code == 1) {
                                    // 文本域内容非空，创建节点
                                    var $record = createReplyEle($content,reply_id,reply_level);
                                    var insert_id = "#all-"+reply_id
                                    $(insert_id).after($record);
                                    var timeago = layui.timeago;
                                    timeago.render($('.timeago'));
                                    layer.msg(result.msg, {icon: 6});
                                    layui.layedit.clearContent(index);
                                    layer.closeAll();
                                } else {
                                    layer.alert(result.msg, {icon: 2});
                                }
                            },
                            error: function (xhr) {
                                alert(xhr.text());
                            }
                        })
                    }
                    , btn2: function () {
                        layer.closeAll();
                    },
                    success: function (layero, index) {
                        // 设置发表留言编辑器
                        reply_textarea = layedit.build($(layero).find('#reply'), {
                            height: 150 //设置编辑器高度
                            , tool: ['face', 'image', '|', 'link', 'unlink']
                        });
                        // 把富文本数据同步到<textarea>中
                        form.verify({
                            content: function (value) {
                                return layedit.sync(reply_textarea);
                            }
                        });
                    },
                });
            })

            // 根据内容创建留言节点
            function createEle(content) {
                var $record = $('<ol class="list-body">\n' +
                    '            <li class="message-content">\n' +
                    '                <a href="#">\n' +
                    '                    <img src="{{ MEDIA_URL }}{{ userinfo.photo }}" class="layui-nav-img img-rotate">\n' +
                    '                </a>\n' +
                    '                <div class="text-box">\n' +
                    '                    <div class="box-info">\n' +
                    '                        <a href="#">{{ user.username }}</a>\n' +
                    '                        <span class="timeago" datetime="{% now "Y-m-d H:i:s" %}"></span>\n' +
                    '                    </div>\n' +
                    '                    <div class="box-body">\n' + content +
                    '                    </div>\n' +
                    '                    <div class="box-action">\n' +
                    '                        <a href="javascript:;" class="action-like"><i class="fas fa-thumbs-up"></i>赞<em>0</em></a>\n' +
                    '                        <a href="javascript:;" class="action-reply"><i class="fas fa-comment-alt"></i>回复</a>\n' +
                    '                        <a href="javascript:;" class="action-delete"><i class="fas fa-trash-alt"></i>删除</a>\n' +
                    '                    </div>\n' +
                    '                </div>\n' +
                    '            </li>\n' +
                    '        </ol>')
                return $record;
            }
            // 根据内容创建留言回复节点
            function createReplyEle(content,reply_id,reply_level) {
                var $record = $('<ol class="list-body">\n' +
                    '            <li class="reply-'+reply_level+' message-content" id="all-'+reply_id+'">\n' +
                    '                <a href="#">\n' +
                    '                    <img src="{{ MEDIA_URL }}{{ userinfo.photo }}" class="layui-nav-img img-rotate">\n' +
                    '                </a>\n' +
                    '                <div class="text-box">\n' +
                    '                    <div class="box-info">\n' +
                    '                        <a href="#">{{ user.username }}</a>\n' +
                    '                        <span class="timeago" datetime="{% now "Y-m-d H:i:s" %}"></span>\n' +
                    '                    </div>\n' +
                    '                    <div class="box-body">\n' + content +
                    '                    </div>\n' +
                    '                    <div class="box-action">\n' +
                    '                        <a href="javascript:;" class="action-like"><i class="fas fa-thumbs-up"></i>赞<em>0</em></a>\n' +
                    '                        <a href="javascript:;" class="action-reply click-no"><i class="fas fa-comment-alt"></i>回复</a>\n' +
                    '                        <a href="javascript:;" class="action-delete"><i class="fas fa-trash-alt"></i>删除</a>\n' +
                    '                    </div>\n' +
                    '                </div>\n' +
                    '            </li>\n' +
                    '        </ol>')
                return $record;
            }
        })
    </script>
{% endblock %}