{% extends 'base-blog.html' %}

{% block title %}搜索结果{% endblock %}

{% block content %}
    <!--中间主体部分-->
    <main class="page-main  clearfix">
        <div class="layui-row">
        </div>
        <!--    页面主体部分-->
        <div class="layui-col-md-offset2 layui-col-sm12 layui-col-md8 page-main-centre">
            <div class="layui-row main-centre">
                <!--            主体左侧部分-->
                <div class="layui-col-md9 main-left">
                    <!--                    位置信息-->
                    <blockquote class="layui-elem-quote location suspend">
                        <p>您的位置： <a href="/">首页</a>
                            <i class="layui-icon layui-icon-next"></i>
                            <span>搜索</span>
                            <i class="layui-icon layui-icon-next"></i>
                            <span>{{ key }}</span>
                        </p>
                    </blockquote>
                    <!--            文章列表-->
                    <div class="index-new">
                        <h4 id="list-title">
                            <strong>
                                <span>📜 文章列表</span>
                            </strong>
                        </h4>
                        {% for article in articles %}
                            <div class="layui-row layui-col-space20 article-box">
                                <div class="layui-col-xs12 layui-col-md4">
                                    <div class="img-cover img-zoom">
                                        <a href="/blog/show-{{ article.id }}" title="{{ article.title }}">
                                            <img lay-src="{{ MEDIA_URL }}{{ article.img }}" width="100%">
                                        </a>
                                    </div>
                                </div>
                                <div class="layui-col-xs12 layui-col-md8">
                                    <h3>
                                        <a href="/blog/show-{{ article.id }}">{{ article.title }}</a>
                                    </h3>
                                    <p class="txt-cont hidden-xs">
                                        <a href="/blog/show-{{ article.id }}">{{ article.excerpt }}</a>
                                    </p>
                                    <div class="list-article-info">
                                        <a href="/blog/category-{{ article.category_id }}"
                                           class="label-tag tag-color-{{ article.category.id }}">{{ article.category }}</a>
                                        <span>
                                                <i class="fas fa-clock">
                                                    <span class="timeago"
                                                          datetime="{{ article.created_time | date:"Y-m-d H:i:s" }}"></span>
                                                </i>
                                            </span>
                                        <span>
                                                <i class="fas fa-eye">{{ article.view }}</i>
                                            </span>
                                        <span>
                                                <i class="fas fa-thumbs-up">{{ article.like }}</i>
                                            </span>
                                        <span>
                                                <i class="fas fa-heart">{{ article.collection }}</i>
                                            </span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% include 'blog/aside.html' %}
                <!--            主体右侧部分-->
            </div>
        </div>
        </div>
    </main>
{% endblock %}
{% block js %}
    <script>
        layui.use(['form', 'layer'], function () {
            var layer = layui.layer;
            // 搜索提示信息
            var message = '{{ message }}';
            if (message) {
                layer.alert(message, {icon: 2})
            }
        })
    </script>
{% endblock %}