<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>

<body style="background-color: #ebedf0;margin: 0;padding: 0">
<div id="content" style="width: 75%;margin: 10% auto;background-color: white;border-radius: 10px;box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);">
    <div style="text-align: center;background-color: #ecf0f1;height: 80px">
        <h2 style="margin: 0 auto;line-height: 80px;">【崔亮的博客】验证码</h2>
    </div>
    <div style="padding: 0 20px;">
        <p style="font-weight: bold">尊敬的星空的77：您好！</p>
        <p style="text-indent:2em;font-weight: bold">您正在进行
            <span style="color: #e74c3c">注册账号</span>操作，请在验证码输入框输入：
            <span style="color: #e74c3c;font-weight: bold;font-size: 40px">123421</span>，以完成操作，验证码有效期为3分钟。
        </p>
        <br>
        <p style="color: #bdc3c7;text-indent:2em">注意：此操作可能会对您的账号进行邮箱绑定、修改密码、重置密码操作。
            如非本人操作，请及时登录并修改密码以保证账户安全，请勿泄露此验证码！</p>
    </div>
    <div style="background-color: #ecf0f1;padding: 20px;">
        <p style="color: #bdc3c7;text-indent:2em;margin: 0 auto;line-height: 30px">您会收到这封邮件，是由于在
            <a href="https://www.cuiliangblog.cn" style="text-decoration: none">崔亮的博客</a>
            进行了新用户注册或修改密码、重置密码操作。如果您并没有访问过
            <a href="https://www.cuiliangblog.cn" style="text-decoration: none">崔亮的博客</a>
            ，或没有进行上述操作， 请忽略这封邮件！
        </p>
    </div>
</div>
</body>

</html>